<?xml version="1.0" encoding="utf-8"?>
<!--
    COPYRIGHT (c) 2015 Matthew Popescu
    This is licensed under GNU General Public License
    Detailed Licensing information can be found in the COPYING file
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="opensourceproject.kanjisteps" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Practice_Activity"
            android:label="@string/PracticeTitle" >
            <intent-filter android:label="@string/PracticeTitle" >
                <action android:name="android.intent.action.PRACTICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Practice_slides"
            android:label="@string/title_activity_practice_slides" >
            <intent-filter android:label="@string/title_activity_practice_slides" >
                <action android:name="android.intent.action.PRACTICE_SLIDES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Study_Slides"
            android:label="@string/title_activity_study__slides" >
            <intent-filter android:label="@string/title_activity_study__slides" >
                <action android:name="android.intent.action.STUDY_SLIDES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Study_Menu"
            android:label="@string/title_activity_study__menu" >
            <intent-filter android:label="@string/title_activity_study__menu">
                <action android:name="android.intent.action.STUDY_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
